<div class="col-md-4 col-md-offset-4">
  <br><br><br>
  <a href="/borrower/new"><button type="button" name="button" class="btn btn-primary">New Credit Request</button></a>
  <br><br><br>
  <a href="/borrower/all"><button type="button" name="button" class="btn btn-primary">All Credit Request</button></a>
</div>
